;; Hand-port backlog from bb.edn (ADR-2607173000).
{:test {:kind :complex, :doc nil, :form "(do (require 'clojure.test 'kotoba.rt.core-test) (let [r (clojure.test/run-tests 'kotoba.rt.core-test)] (when (pos? (+ (:fail r) (:error r))) (System/exit 1))))"}}
